/ws-soap/01. Cumprimentar Service - autocontido/nbproject/private/
/ws-soap/01. Cumprimentar Service - autocontido/build/
/ws-soap/02. Cumprimentar Client/nbproject/private/
/ws-soap/02. Cumprimentar Client/build/
/ws-soap/01. Cumprimentar Service - java - tomcat/nbproject/private/
/ws-soap/01. Cumprimentar Service - java - tomcat/build/
/ws-soap/05. Cumprimentar Cliente - java - tomcat/nbproject/private/
/ws-soap/05. Cumprimentar Cliente - java - tomcat/build/